<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/posts.scss">
  </head>
  <body>
    <h1>
      <h1><%= message %></h1>
      <h2><%= targetThread.title %></h2>
      <h3><%= targetThread.description %></h3>
      <br/>
      <% posts.forEach(post => {%>
        <div class="post">
          <div class="rolexflexbox">
            <span class="text"><%= post.text  %></span>
            <span class="user"><%= post.user  %></span>
          </div>
          <p class="date"><%= post.added %></p>
        </div>
        <br>
      <% }) %>
    </h1>
  </body>
</html>